@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

span {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 26px;
  font-family: "Montserrat", "monospace";
}
