@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

mat-list {
  mat-list-item:hover {
    background-color: #e9e9e9;
    .faTrash {
      color: unset;
    }
  }
}
.bucketListDayCounter {
  width: 50%;
  span {
    font-size: 18px;
    font-family: "Montserrat", "monospace";
  }
}

.faTrash {
  color: #eeeeee;
}

.deleteBtn {
  margin-top: 0;
  margin-bottom: 0;
}
