<mat-list>
  <h3 mat-subheader>Bucket List</h3>
  <div *ngFor="let upcomingEvent of listService.upcomingEvents">
    <mat-list-item>
      <h4 mat-line>{{ upcomingEvent.name }}</h4>
      <p mat-line>{{ upcomingEvent.fullDate }}</p>
      <day-counter
        startTime="{{ upcomingEvent.dateTime }}"
        class="bucketListDayCounter"
        showDays="true"
        showHours="true"
        showDayPassed="true"
      >
      </day-counter>
      <fa-icon
        class="faTrash"
        [icon]="faTrash"
        (click)="onRemoveUpcomingEvent(upcomingEvent)"
      ></fa-icon>
    </mat-list-item>
  </div>
  <div *ngFor="let oldEvent of listService.oldEvents">
    <mat-list-item>
      <h4 mat-line>{{ oldEvent.name }}</h4>
      <p mat-line>{{ oldEvent.fullDate }}</p>
      <day-counter
        startTime="{{ oldEvent.dateTime }}"
        class="bucketListDayCounter"
        showDays="true"
        showHours="true"
        showDayPassed="true"
      >
      </day-counter>
      <fa-icon [icon]="faTrash" (click)="onRemoveOldEvent(oldEvent)"></fa-icon>
    </mat-list-item>
  </div>
</mat-list>
